{% extends "base.html" %}
{% block title %}Setup Budget{% endblock %}
{% block content %}
<h2>🏦 Setup Your Monthly Budget</h2>
<form method="POST" onsubmit="return checkBudget();">
  <div class="form-group">
    <label>Total Monthly Budget (₹)</label>
    <input type="number" name="budget"  required placeholder="8000">
  </div>

  <h3>Category Limits</h3>
  <div class="form-group">
    <label>Food & Dining (₹)</label>
    <input type="number" name="food_limit"  required placeholder="3000">
  </div>
  <div class="form-group">
    <label>Travel & Transport (₹)</label>
    <input type="number" name="travel_limit"  required placeholder="2000">
  </div>
  <div class="form-group">
    <label>Entertainment (₹)</label>
    <input type="number" name="entertainment_limit"  required placeholder="1000">
  </div>

  <button type="submit" class="btn">Save & Continue</button>
</form>
{% endblock %}
